.dndflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.dndflow .selectall {
  margin-top: 10px;
}

.base-node {
  font-weight: bold;
  border-radius: 12px;
  border: none;
  width: 180px;
}

.base-node.input-node-inicial {
  background-color: #F0E68C;
  border: 1px solid #FFD700;
}


.base-node.input-node-inicial:hover {
  background-color: #FFD700;
  border: 1px solid #DAA520;
}

.base-node.input-node {
  background-color: #0041d0;
  color: #ffffff;
}

.base-node.default-node {
  background-color: #1a192b;
  color: #ffffff;
}

.base-node.output-node {
  background-color: #ff0072;
  color: #1a192b;
}

ul {
    list-style-type: disc;
}

ul li:hover{
    cursor: pointer;
}

/* Modal HTTP */
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}

@media screen and (max-width: 992px) {
  .grupo-cabecalho .form-group, #btn-remove-cabecalho{
    margin-top: 7px;
  }

  .grupo-cabecalho {
    justify-content: center;
  }

  #btn-remove-cabecalho{
    width: 94%;
    display: inline;
    margin-left: 12px;
  }
}

